*{margin:0;padding: 0;}
/*首页部分*/
body{
    width:1340px;
    height: auto;
    margin:0 auto;
    background-size: 100%;
	background:url(images/indexRaidersBg_13.gif);
}
.header{
    width: 100%;
    height: 100px;
    background-image: url(images/17.jpg);
}
.top{
     width: 1340px;
     height:30px;
     background-color: #cccccc;
 }
.wrap{
    width: 1000px;
    height: 30px;
    margin:0 auto;
}
.wrap a:hover{color:#333;}
.top-left {
    float: left;
}
.top-left a{
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color:#666;
}
.top-left a:nth-child(1){
    float:left;
}
.top-left a:nth-child(2){
    float:right;
}
.top-right {
    float: right;
}
.top-right a{
    display: block;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 20px;
    text-decoration: none;
    color:#666;
}
.content{
    width: 720px;
    height: 410px;
    /*border:1px solid red;*/
    margin-left: 175px;
    margin-top: 20px;
    position: absolute;
}
.top-right .time{
    display: block;
    width: 200px;
    height: 30px;
    /*border:1px solid red;*/
    margin-left: 350px;
    line-height: 30px;
    color:#666;
}
/*轮播图样式*/
    #box1{
        width:720px;
        height: 410px;
        position: relative;
        overflow: hidden;
        /*border: 1px solid red;*/
    }
    #box1 ul{
        width: 600%;
        position: absolute;

    }
    #box1 ul li{
        list-style: none;
        float: left;
    }
    #box1 ul img{
        display: block;
    }
    #box2 span{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ccc;
        float: left;
        text-align: center;
        margin-left: 10px;
        cursor: pointer;
    }
     #box2{
         position: absolute;
         bottom: 20px;
         margin-left: 50%;
         width: 200px;
         left: -100px;
       }
        #box2 span.current{
            background-color: orange;

        }
         #left{
            width: 64px;
            height: 64px;
            /*border:1px solid red;*/
            position: absolute;
            z-index: 999;
            top:160px;
         }
         #right{
            width: 64px;
            height: 64px;
            /*border:1px solid red;*/
            position: absolute;
            z-index: 999;
            top:160px;
            left:650px;
         }
.content-left{
    width: 240px;
    height: 410px;
    background-color: #ccc;
    float: right;
    margin-top: 20px;
    margin-right: 175px;
    margin-bottom: 10px;
}
.content-left-wrap{
    width: 200px;
    height: 100px;
    /*background-color: red;*/
    margin: 25px 20px;
}
.content-left-wrap img:hover{
		margin-left:40px;
    	transform:scale(1.8,1.8);
}
.theme{
    clear: both;
    width: 1000px;
    height: 40px;
    margin: 10px auto 0 auto;
}
.theme i,.theme span {
    font: 22px "微软雅黑";
    color:#F30;
}
.content-middle{
    width: 1000px;
    height: 500px;
    /*background-color: #ccc;*/
    margin: 0 auto;
}
.content-middle li{
    float: left;
    list-style: none;
    margin: 20px 20px 20px 0;
    /*background-color: red;*/
    position: relative;

}
.content-middle ul li a p{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    font-size: 18px;
    padding:20px 16px;
    top:0px;
    color:#fff;
	font-family: "微软雅黑";
}

.content-middle ul li:nth-child(4){
    margin-top: -180px;
}
.content-middle ul li:nth-child(5){
    margin-top: -180px;
}
.content-middle ul li:nth-child(6){
    margin-top: -180px;
}
.summer{
    width:1000px;
    height:auto;
    margin:0 auto;
    background-color: #ccc;
}
.summer li{
    width: 237px;
    height: auto;
    /*background-color: red;*/
    float: left;
    margin-right:13px;
    list-style: none;
    margin-bottom: 20px;
    position: relative;
}
.summer p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 12px;
}
.summer a{text-decoration: none;}
.summer ul li a p{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    font-size: 18px;
    padding:20px 16px;
    top:-10px;
    color:#fff;
	font-family: "微软雅黑";
}
.autumn{
    width:1000px;
    height:auto;
    margin:0 auto;
}
.autumn li{
    width:500px;
    height:310px;
    list-style:none;
    float:left;
    position: relative;
}
.autumn li p{
      position: absolute;
      background-color: rgba(0,0,0,0.6);
      font-size: 18px;
      padding:20px 16px;
      bottom:20px;
      left: 100px;
      color:#fff;
	  font-family: "微软雅黑";
  }
.autumn span{
    display: block;
    border:1px solid red;
    margin:-250px 0 0 30px;
    width: 200px;
    height: 30px;
    font-size: 20px;
    color:#fff;
    display: none;
}
.autumn li:hover span{
    display: block;
}
.winter{
    width:1000px;
    height:430px;
    margin:0 auto;
}
.winter li{
    width:480px;
    height:430px;
    list-style:none;
    float:left;
    position: relative;
    margin-right: 20px;
}
.winter li p{
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    font-size: 18px;
    padding:20px 16px;
    bottom:60px;
    left: 100px;
    color:#fff;font-family: "微软雅黑";
}
.winter span{
    display: block;
    border:1px solid red;
    width: 300px;
    height: auto;
    color:#fff;
    margin-top: -300px;
    font-size: 20px;
    display: none;
}
.winter li:hover span{
    display: block;
}
.content-middle li img:hover{
    box-shadow: 5px 5px 4px #666 ;
}
.summer li img:hover{
    box-shadow: 5px 5px 4px #666;
  }
.winter li img:hover{
    box-shadow: 5px 5px 4px #666 ;
}
.footer {
    clear: both;
    width:100%;
    height:auto;
    background-color: #ccc;
}
.footer p{
    font-size:20px;
    color: #fff;
    line-height: 30px;
}
.text1{
    width:1000px;
    height: auto;
    margin:20px auto;

}
.text1 p{
    color:#333;
    font-size: 15px;
	line-height:18px;
    font-family: "微软雅黑";
}
.text1 span{
    font-size: 30px;
    color:red;
    font-family: "微软雅黑";
}
.content-left span{
    color:#F30;
    margin-left:80px;
}
.bnt{
    position: absolute;
    bottom:50px;
    right:50px;
    position: fixed;
    z-index: 999;
}
.bnt a{
    display: block;
    width:50px;
    height:30px;
    background-color: red;
    text-decoration: none;
    line-height: 30px;
    text-align: center;
    color:#fff;
    font-size: 20px;
    font-family: "微软雅黑";
}
/*登录注册页面*/
.top1{
    width:1340px;
    height:60px;
    background-color: black;
}
.logo{margin-left: 100px;margin-top:10px; float: left;}
.text span{
    height: 40px;
    font-size: 20px;
    font-family:"微软雅黑" ;
    line-height: 60px;
    margin-left: 100px;
    color:#fff;
}
.middle1{
    width:1340px;
    height:500px;
    background:url(images/2-1.jpg);
	background-position:100% 100%;
}
.bgi{
    width:500px;
    height:370px;
    float: left;
    margin-left: 250px;
    margin-right: 20px;
    margin-top: 50px;
}
.entry{
    width:300px;
    height:370px;
    background-color: #fff;
    float: left;
    margin-top: 50px;
}
.login-left{
    width: 150px;
    height: 55px;
    border-bottom: 1px solid #ccc;
    float: left;
}
.login-right{
    width: 150px;
    height: 55px;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-bottom: 10px;
}
.login-left a,.login-right a{
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 55px;
    color:black;
    font-size: 18px;
    font-family: "微软雅黑";
    border-right: 1px solid #f4f4f4;
}
.login-left a:hover{
    font-weight: 700;
    color: #e4393c;
}

.login-right a:hover{
    font-weight: 700;
    color: #e4393c;
}
.msg-warn p{
   clear: both;
   width: 250px;
   height: 20px;
   border: 1px solid #ffe57d;
   font-size: 12px;
   background-color: #FFF6D2;
   line-height: 20px;
   text-align: center;
   margin: 0 auto;
}
.use-name{
    border: 1px solid #bdbdbd;
    height: 38px;
    width: 250px;
    position: relative;
    margin: 10px auto;
}
.login-label{
    display: block;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    float: left;
    background-image: url(pwd-icons-new.png);
}
.itxt{
    line-height: 18px;
    height: 18px;
    font-size: 14px;
    font-family: '\5b8b\4f53';
    padding: 10px 0 10px 10px;
    border:0;
    outline: none;
}
.use-pass{
    border: 1px solid #bdbdbd;
    height: 38px;
    width: 250px;
    position: relative;
    margin: 20px auto;
}
.pass-label{
    display: block;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    float: left;
    background: url(pwd-icons-new.png) -48px 0;
}
.itxt-pass{
    line-height: 18px;
    height: 18px;
    font-size: 14px;
    font-family: '\5b8b\4f53';
    padding: 10px 0 10px 10px;
    border:0;
    outline: none;
}
.safe{
    height: 38px;
    width: 250px;
    position: relative;
    margin: 20px auto 0 auto;
}
.safe label{
    font-size: 12px;
    vertical-align: top;
}
.safe a{
    font-size: 12px;
    display: block;
    float: right;
}
.login{
    width: 250px;
    height: 50px;
    margin: 0 auto;
}
.btn2{
    width: 250px;
    height:40px;
    background-color:#E4393C;
    outline: none;
    font-size: 22px;
    color:#fff;
    font-family: "微软雅黑";
}
.coagent{
    width: 300px;
    height: 50px;
    background-color:#ccc;
    position: relative;
    top:14px;
}
.coagent-middle{
    width: 250px;
    height: 50px;
    margin:0 auto;
}
.coagent-middle a{
    float: left;
    text-decoration: none;
    width: 40px;
    border-right:1px solid red;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}
/*.zhuce{
    float: right;
    width: 120px;
    height: 16px;
    position: relative;
    top:-30px;
}
.zhuce a{
    float: left;
    width: 16px;
    height: 16px;

}
.zhuce span{
    display: block;
    width: 95px;
    height: 16px;
    /*border:1px solid red;*/
    float:right;
    font-size: 14px;
    color:red;
}*/
.footer1{
    width: 1340px;
    height: 120px;
    background-color: #000;
    font-size: 14px;
    font-family: "微软雅黑";
    color:#fff;
}
.footer p{
	color:#333;
	font-size:12px;
	margin-top:5px;
	line-height:20px;
}
.footer #txt{
	color:#333;
	font-size:16px;
	font-weight:bold;
	margin-top:30px;
	line-height:20px;
}
.wrong{
     background-color: #ccc;
    color: #e4393c;
    border: 1px solid #faccc6;
    font-size: 12px;
    line-height: 18px; 
    background: url(pwd-icons-new.png) no-repeat -104px -49px;
}
.logo span{
    font-size: 40px;
    font-family: "Times New Roman";
    font-weight: bold;
}
.logo span:nth-child(1){
    color:red;
}
.logo span:nth-child(2){
    color:yellow;
}
.logo span:nth-child(3){
    color:blue;
}
.logo span:nth-child(4){
    color:green;
}